.form{

    background-color: rgba(20, 20, 20, 0.486);
    backdrop-filter: blur(3rem);
    color: white;
    padding: 2rem;
    border-radius: 3rem;
    min-width: 30rem;
    max-width: 40rem;
    margin: auto 0;
    form{
        a{
            color: white;
            text-align: center;
        }
        display: flex;
       flex-direction: column;
       gap: 1rem;

       .form-group{
      label{
        text-align: start;
        display: block;
      }
        input{
            background-color: rgba(245, 245, 245, 0.637);
            backdrop-filter: blur(3rem);
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;
            border:none;
            display: block;

            &:focus{
                outline: none;
                
            }
            &:active{
                
            }
            &::placeholder{
                color: #888;
            }
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
                -webkit-text-fill-color: black;
            }
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 30px white inset;
                -webkit-text-fill-color: black;
            }
        }
       }

       button {
        backdrop-filter: blur(3rem);
        opacity: 0.8;
color: black;
&:hover{
    color: white;
}
       }
    }
}