.modal{
   overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgb(19, 19, 19);
    border-radius: 1rem 1rem 0 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    .modal-content{
       
       padding: 1rem;
        width: 100%;
      

        h2{
            color: rgb(255, 255, 255);
            text-align: start;
            margin: 0;
        }
        p{
            margin: 0;
            color: rgb(255, 255, 255);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        img{
            border-radius: 2rem 2rem 0 0;
            width: 100%;
            height: 50%;
            object-fit: cover;
            object-position: center;
            border-radius: 1rem;
        }
    
}


.modal-carrito{
    overflow-y: auto;
    padding: 1rem;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgb(19, 19, 19);
   
    border-radius: 2rem 2rem 0 0;
    z-index: 1000;
    .carrito-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }
    .perfil{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:  1rem;
        justify-content: center;
        gap: 1rem;
        img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            object-fit: cover;
        }
        .perfil-info{

            p{
                margin: 0;
                font-size: 1.5rem;
            }
            gap: 0.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
        }
    }
    .carrito-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        img{
            width: 5rem;
            height: 5rem;
            border-radius: 1rem;
            object-fit: cover;
        }
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.5rem;
        }
      
      .carrito-item-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 1rem;
      }
    
        .btn-eliminar{
            display: inline-block;
            width: auto;
            cursor: pointer;
            display: grid;
            place-items: center;
        .icono-eliminar{
            width: 2rem;
            height: 2rem;
            object-fit: cover;
        }
    }


}

.enviar-carrito{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    .btn-enviar{
        margin: 0;
        width: 100%;
        height: 3.5rem;
        border: none;
        border-radius: 1rem;
        text-align: center;
    }

    .input{
        width: 100%;
        height: 3.5rem;
        border: none;
        border-radius: 1rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        &:focus{
            outline: none;
        }
        
    }
}
}


.modal-footer{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    gap: 1rem;
    .boton{
        height: 100%;
       width: 60%;
    }
    .input{
        width: 40%;
        height: 5rem;
        border: none;
        border-radius: 1rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        &:hover{
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    }
   
}
#modal-menu{
    overflow-y: auto;
    z-index: 500;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    padding: 2rem;
    background-color:rgb(19, 19, 19);
 
    .modal-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}