.alerta{
color: aliceblue;
margin: 1rem auto;
width: 90%;
border-radius: 2rem;
backdrop-filter: blur(5px);
padding: 2rem 1rem;
text-align: center;

}

.subir{
 margin-top: 24vh;
 margin-bottom: 24vh;
}
.error{
  background-color: rgb(121, 0, 0);
  
}
.success{
  background-color: green;
}


.header {
 
 
padding: 0;
 .contenido-header{
 
.acciones{
 display: flex;
 align-items: center;
 justify-content: center;
 .boton{
 
   color: black;
 }
  .boton:hover{
    color: white;
  }
}
 h1{

 font-size: 5vh;
      color: white;
    }
  .barra{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 16vh;
     width: auto;
    background-color:#161616bd;
    backdrop-filter: blur(2rem);
    padding: 1rem 0;
    text-align: center;
    color: white;
    img{
      width: 12vh;
      height: 12vh;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto;
    }

  }}
}
.header-fotante{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.inicio{
  
background-image: url("/build/img/pablo-lancaster-jones-eydiKD88C8w-unsplash.jpg");
height: 80vh;

background-size: cover;
background-position: center center;
background-repeat: no-repeat;
.contenido-header{
 height: 80vh;
  background-color: #16161680;
  margin: 0;
  h1{
     margin-top: 20vh;
  }
 }

}

footer{
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;

 
  *{margin: 0;}
  border-radius: 3rem 3rem 0 0;
  background-color: #161616d3;
   backdrop-filter: blur(4rem);
  color: white;
  padding: 2rem 0;
  
  text-align: center;
  margin-top: 2rem;
 

  .contenedor-footer{
    display: flex;
  margin-bottom: 2rem;
    flex-direction: row;
      justify-content:space-around ;
    align-items: center;
       img{
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      object-fit: cover;
     
    
    }
    .redes{
      img{
 width: 5vh;
      height: 5vh;
      object-fit: cover;
      border-radius: 0%;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    margin: 0;
      
    
    }
  }

}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  anchor-name: --carousel;

  > .especiales-card {
    
    scroll-snap-align: center;
  }

  .carousel--scroll-buttons {
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    font-family: "Material Symbols Outlined";
  }

  &::scroll-button(right) {
    position-area: inline-end center;
    content: 'arrow_forward' / 'Next';
  }

  &::scroll-button(left) {
    position-area: inline-start center;
    content: 'arrow_back' / 'Previous';
  }
}
}